<div id="<%= dom_id beer_item %>">
  <p>
    <strong>Beer name:</strong>
    <%= beer_item.beer_name %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= beer_item.brewery %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= beer_item.description %>
  </p>

  <p>
    <strong>Ibu:</strong>
    <%= beer_item.ibu %>
  </p>

</div>
