<div id="<%= dom_id beer %>">
  <p>
    <strong>Beer name:</strong>
    <%= beer.beer_name %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= beer.Brewery %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= beer.Description %>
  </p>

  <p>
    <strong>Ibu:</strong>
    <%= beer.IBU %>
  </p>

</div>
