<div class="main">
<div>
<div id="<%= dom_id beer %>">
</br>
<h4> Beers Added:</h4>
  <p>
    <strong>Beer name:</strong>
    </br>
    <%= beer.beer_name %>
  </p>
</br>
  <p>
    <strong>Brewery:</strong>
    </br>
    <%= beer.Brewery %>
  </p>
  </br>
  <p>
    <strong>Description:</strong>
    </br>
    <%= beer.Description %>
  </p>
  </br>
  <p>
    <strong>Ibu:</strong>
    </br>
    <%= beer.IBU %>
  </p>
  </br>
</div>
</div>
</div>
